
@{
    ViewBag.Title = "View";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save</title>
    <link rel="stylesheet" href="~/Content/indexVer2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-------------------- Nav Section ------------------->
    <section class="header">
        <nav>
            <a href="index.html"><img class="logo" src="/img/logoSmall.png" alt=""></a>
            <ul class="menu">
                <li>
                    @Html.ActionLink("救援通報", "List", "RescueMember")
                    <ul class="subs">
                        <li class="submenu">@Html.ActionLink("我要通報", "Rescue", "RescueMember")</li>
                        <li class="submenu">@Html.ActionLink("我要救援", "List", "RescueMember")</li>
                    </ul>
                </li>
                <li>
                    @Html.ActionLink("認養資訊", "List", "TransferMember")
                    <ul class="subs">
                        <li class="submenu">@Html.ActionLink("我要送養", "Transfer", "TransferMember")</li>
                        <li class="submenu">@Html.ActionLink("我要認養", "List", "TransferMember")</li>
                    </ul>
                </li>
                <li>
                    @Html.ActionLink("文章分享", "List", "BlogMember")
                    <ul class="subs">
                        <li class="submenu">@Html.ActionLink("救援心得", "ResuceExperience", "BlogMember")</li>
                        <li class="submenu">@Html.ActionLink("認養故事", "TransferStory", "BlogMember")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("聯絡我們", "ContactUs", "Home")</li>
                <li>
                    @Html.ActionLink("會員專區", "Profilo", "Member")
                    <ul class="subs">
                        <li class="submenu">@Html.ActionLink("基本資料", "Profilo", "Member")</li>
                        <li class="submenu">@Html.ActionLink("通報清單", "RescueList", "Member")</li>
                        <li class="submenu">@Html.ActionLink("送養清單", "TransferList", "Member")</li>
                        <li class="submenu">@Html.ActionLink("追蹤清單", "TraceList", "Member")</li>
                        <li class="submenu">@Html.ActionLink("登出", "LogOut", "Member")</li>
                    </ul>
                </li>
            </ul>

            <i class="fas fa-bars"></i>
        </nav>
        <div class="text-box">
            <h1>Save, Home, Ensure</h1>
            <div class="txtContent">
                <p>替瀕死動物帶來希望；</p>
                <p>給孤單的動物一個家；</p>
                <p>成為愛動物者的聚集地。</p>
            </div>
            @Html.ActionLink("了解詳情", "Login", "Home")
        </div>
    </section>

    <!-- about section -->
    <section class="about">
        @RenderBody();
    </section>


    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/indexVer2.js"></script>
</body>
</html>

